.btn {
  background: $mainPurple;
  color: #FFF;
  text-decoration: none;
  padding: .85rem 1.1rem;
  display: inline-block;
  transition: all 0.7s ease 0s;

  &:hover {
    border-radius: 50px;
    text-shadow: 1px 2px 15px rgba(255, 255, 255, 1);
  }

  &--large {
    padding: .6rem .6rem;
    border: solid 0.85px white;
    border-radius: 50px;
    background: $mainPurple;
    color: #FFF;
    font-size: 1rem;
    box-shadow: 0px 3px 7px #888888;
    margin-top: 7%;

    &:active {
      box-shadow: 0px 3px 1px #888888;
      transition: all 0.6s ease 0s;
    }

    @mixin atSmall {
      font-size: 1.05rem;
      margin-top: 0;
    }

    @mixin atMedium {
      border-radius: 10px;
      font-size: 1.2rem;

      &:hover {
        box-shadow: 0px 0px 1px #888888;
        transition: all 0.7s ease 0s;
      }
    }

    @mixin atLarge {
      padding: .8rem 1rem;
      font-size: 1.5rem;
      margin-top: 2%;
    }
  }
}