.large-banner {
  border-bottom: 10px solid $mainDarkPurple;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  @mixin forIE {
    display: block;

    &__text-content {
      position: absolute;
      /*top: 0;
      left: 0;*/
      width: 100%;
      text-align: center;
    }
  }

  &__image {
    display: block;
    /*eliminated gap between img and border*/
  }

  &__text-content {
    padding-top: 4.5rem;
    position: absolute;
    /*top: 0;
    left: 0;*/
    width: 100%;
    text-align: center;

    @mixin atMedium {}
  }

  &__title {
    margin: 0;
    font-weight: 400;
    font-style: italic;
    color: #FFF;
    text-shadow: 2px 2px 10px #000000;
    font-size: 1.4rem;

    @mixin atSmall {
      font-size: 2.5rem;
    }

    @mixin atMedium {
      font-size: 3rem;
    }

    @mixin atLarge {
      font-size: 3.3rem;
    }
  }

  &__subtitle {
    margin: 1rem;
    font-weight: 300;
    font-size: 1.4rem;
    font-style: italic;
    color: #FFF;
    text-shadow: 2px 2px 5px #000000;

    @mixin atSmall {
      font-size: 2.1rem;
    }

    @mixin atMedium {
      font-size: 2.2rem;
    }

    @mixin atLarge {
      font-size: 2.3rem;
    }
  }

  &__description {
    font-style: italic;
    margin-top: 2rem;
    color: #FFF;
    text-shadow: 2px 2px 0 rgba(0, 0, 0, .5);
    width: 90vw;
    margin-left: auto;
    margin-right: auto;
    line-height: 2rem;
    font-size: 1.1rem;

    @mixin atSmall {
      font-size: 1.4rem;
      width: 50%;
    }

    @mixin atLarge {
      width: 30%;
    }
  }
}