.large-banner {
  border-bottom: 10px solid $mainDarkPurple;

  @mixin forIE {
    display: block;

    &__text-content {
      top: 15%;
      width: 100%;
      text-align: center;
    }

    img {
      height: 100vh;
    }
  }

  img {
    display: block;
    /*eliminated gap between img and border*/
  }

  &__text-content {
    position: absolute;
    top: 30%;
    width: 100%;
    text-align: center;

    @mixin atMedium {}
  }

  &__title {
    margin-top: 1.4rem;
    margin-bottom: .5rem;
    font-weight: 400;
    font-style: italic;
    color: #FFF;
    text-shadow: 2px 2px 10px #000000;
    font-size: 1.7rem;

    @mixin atSmall {
      font-size: 2.8rem;
    }

    @mixin atMedium {
      margin-top: 0;
      font-size: 3.2rem;
    }

    @mixin atLarge {
      font-size: 3.5rem;
    }
  }

  &__subtitle {
    margin-top: 0;
    margin-bottom: .5rem;
    font-weight: 300;
    font-size: 1.5rem;
    font-style: italic;
    color: #FFF;
    text-shadow: 2px 2px 5px #000000;

    @mixin atSmall {
      font-size: 2.3rem;
    }

    @mixin atMedium {
      font-size: 2.4rem;
    }

    @mixin atLarge {
      font-size: 2.6rem;
    }
  }

  &__description {
    font-style: italic;
    margin-top: 1rem;
    color: #FFF;
    text-shadow: 2px 2px 0 rgba(0, 0, 0, .5);
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    line-height: 2rem;
    font-size: 1.1rem;

    @mixin atSmall {
      font-size: 1.4rem;
      width: 70%;
    }

    @mixin atLarge {
      width: 30%;
    }
  }
}