.overlay {
  position: fixed;
  z-index: 5;
  background-color: rgba(255, 255, 255, .9);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  visibility: hidden;
  /*bo przy samym opacity nadal pojawial
  sie pointer*/
  transform: scale(1.5);
  transition: all 1s ease-out;

  &--is-visible {
    opacity: 1;
    visibility: visible;
    transform: scale(1);
  }

  &__description {
    text-align: center;
    font-size: 1.3rem;
    line-height: 1.65;
    font-weight: 400;
  }

  &__close {
    position: absolute;
    top: 15px;
    right: 15px;
    font-size: 2rem;
    transform: scaleX(1.2);
    transform-origin: 100% 0;

    &:hover {
      color: #fabb69;
      cursor: pointer;
    }
  }

  &__center {
    position: absolute;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
  }
}