.primary-nav{

  &--pull-right{
    @mixin atMedium{
      float: right;
    }
  }
/*here BEM would be an overkill*/
  ul{
  padding: 0;
  margin-top: 3%;
  @mixin clearfix;
  @mixin atMedium{
    margin:0;

    }
  }

  li{
    list-style: none;
    display: inline-block;
    padding-right: 7px;
    @mixin atMedium{
      padding-right: 20px;
      display: block;
      float: left;
    }
  }
  /*last one doesnt need padding right*/
  li:last-child{
    padding-right: 0;
    @mixin atMedium{
      padding-right: 20px;
    }
  }

  a{
    font-size: .8rem;
    text-decoration: none;
    font-weight: lighter;
    color: #FFF;
    display: block;
    padding: 7px 8px;
    background-color: rgba(13, 7, 14, 0.34);
    @mixin atMedium{
      font-size:1rem;
      padding: 12px 0;
      background-color:transparent;

      &.is-current-link{
        color: $mainOrange;
      }
    }
  }
}
