.section-title{
  font-size: 2rem;
  font-weight: 300;
  text-align: center;
  margin-bottom: 4rem;
  text-shadow: 1px 2px 5px #000000;

  @mixin atSmall{
    font-size: 3rem;
  }
  @mixin atMedium{
    margin-bottom: 2rem;
    text-shadow: none;
  }
  strong{
    font-weight: bold;
  }

  &--white{
    color: #FFF;
    font-size: 2.5rem;
    text-shadow: 1px 2px 5px #000000;
    @mixin atMedium{
      font-size: 3rem;
      text-shadow: none;
    }
  }

  &__icon{

    display:block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: .6rem;

    @mixin atSmall{
      position: relative;
      top: 10px;
      margin-right: .5rem;
      margin-left: 0;
      margin-bottom: 0;
      display: inline-block;
    }

  }
}
