.section-title{
  font-size: 2rem;
  font-weight: 300;
  text-align: center;
  margin-bottom: 4rem;
  @mixin atSmall{
    font-size: 3rem;
  }
  @mixin atMedium{
    margin-bottom: 2rem;
  }
  strong{
    font-weight: bold;
  }
  &__icon{

    display:block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: .6rem;
    @mixin atSmall{
      margin-right: .5rem;
      margin-left: 0;
      margin-bottom: 0;
      display: inline-block;
    }
  }
}
