.site-header {
  padding: 10px 0;
  position: absolute;
  width: 100%;
  height: 40px;
  z-index: 2;
  position: fixed;
  background-color: rgba(45, 0, 57, .9);
  transition: background-color .5s ease-out;

  @mixin atMedium {
    height: auto;
  }

  &--is-expanded {
    height: 200px;
    background-color: rgba(45, 0, 57, 0.8);

    &.site-header--dark {
      height: 110px;

      @mixin atMedium {
        height: auto;
      }
    }
  }

  &__btn-container {
    @mixin atMedium {
      float: right;
    }
  }

  &__logo {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%) scale(.29);
    transform-origin: 50% 0;
    transition: transform .3s linear;

    @mixin atSmall {
      transform: translateX(-50%) scale(.38);
    }

    @mixin atMedium {
      /* padding: 25px 36px; */
      left: -10%;
      transform: translateX(9%) scale(.48);
    }

    @mixin atLarge {
      /* padding: 25px 36px; */
      left: auto;
      transform: scale(.5);
    }
  }

  &--dark {
    background-color: rgba($mainDarkPurple, .6);

    .site-header__logo {
      opacity: 0;
      transition: all .5s linear;

      @mixin atMedium {
        opacity: 1;
        transform: scale(.32);
      }
    }

    .site-header__menu-content {
      padding-top: 0;
    }
  }

  &__logo__graphic {
    text-indent: -9999px;
  }

  &__menu-icon {
    width: 20px;
    height: 19px;
    position: absolute;
    z-index: 10;
    /*menu was overlapping icon*/
    top: 10px;
    right: 10px;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 20px;
      height: 3px;
      background-color: #FFF;
      transform-origin: 0 0;
      /*top left corner*/
      transition: transform .3s ease-out;
    }

    &__middle {
      position: absolute;
      top: 8px;
      left: 0;
      width: 20px;
      height: 3px;
      background-color: #FFF;
      transition: all .5s ease-out;
    }

    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 20px;
      height: 3px;
      background-color: #FFF;
      transform-origin: 0 100%;
      transition: transform .3s ease-out;
    }

    @mixin atMedium {
      display: none;
    }
  }

  &__menu-icon--close-x {
    &::before {
      transform: rotate(45deg) scaleX(1.25);
    }

    .site-header__menu-icon__middle {
      opacity: 0;
      transform: scaleX(0);
    }

    &::after {
      transform: rotate(-45deg) scaleX(1.25) translateY(1px);
    }
  }

  &__menu-content {
    opacity: 0;
    /*^ instead of display:none for beter animation
    but we'll have to use z-index to hide it from the browser*/
    transform: scale(1.2);
    transition: all .5s ease-out;
    position: relative;
    /*otherwise z-index wont work*/
    z-index: -10;
    padding-top: 90px;
    text-align: center;

    @mixin atMedium {
      opacity: 1;
      z-index: 1;
      padding-top: 0;
      transform: scale(1);
    }

    &--is-visible {
      opacity: 1;
      z-index: 1;
      transform: scale(1);
    }
  }

  &__mainH1 {
    top: 0;
    position: absolute;
    opacity: 0;
  }
}